* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
}

h1 {
  font-size: 30px;
  font-weight: bolder;
  background-color: yellow;
  text-align: center;
  font-family: 'Raleway', sans-serif;

}

h2{
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h3{
  font-size: 20px;
}

img{
  display: block;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  size: 50px

}

.content {
  font-size: 0;
  height: 100%;
  width: 100%;
  align-self: center;

}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}


.box {
  width: 30%;
  height: 50%;
  background-color: skyblue;
  color: white;
  display: inline-block;
  vertical-align: top;
  position: relative;
 
}

.box-content {
  font-size: 25px;
  align-content: left;tu
  font-style: 'Raleway', sans-serif;

}




