* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  
}

h1 {
  font-size: 50px;
  font-weight: bolder;
  font-style: bold;
  text-align: center;
  font-family: 'Lora', serif;

}

h2{
  font-size: 30px;
  font-family: 'Lora', serif;
  text-align: center;
  background-color: skyblue;
   
}

h3{
  font-size: 25px;
  color: black;

}


img{
  display: inline-block;
  width: 100%;
  height: 80%;
  size: 10px;

}

.content {
  font-size: 0;
  height: 100%;
  width: 100%;
  align-self: center;


}


.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}


.box {
  width: 30%;
  height: 80%;
  background-color: skyblue;
  color: white;
  display: inline-block;
  position: absolute;
  box-sizing: border-box;

 
}

.box-content {
  font-size: 25px;
  align-content: left;
  font-family: 'Lora', serif;
  margin: auto;

}

.box-1 {
  position: absolute;
  display: inline-block;
  width: 100vw;
  padding-top: 15px;
  

}

.box-2 {
  position: absolute;
  display: inline-block;
  width: 100vw;
  padding-top: 15px;
  
}

.box-3 {
  position: absolute;
  display: inline-block;
  width: 100vw;
  padding-top: 15px;
}

.box-4 {
  position: absolute;
  display: inline-block;
  width: 100vw;
  padding-top: 15px;
}

.box-5 {
  position: absolute;
  display: inline-block;
  width: 100vw;
  padding-top: 15px;
}

.box-6 {
  position: absolute;
  display: inline-block;
  width: 100vw;
  padding-top: 15px;
}

.box-7 {
  position: absolute;
  display: inline-block;
  width: 100vw;
  padding-top: 15px;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
 .box-content{
  font size: 15px;
 }


 h1{
  font-size: 50px;
 }

  }
    
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .box-content{
    font-size: 20px;
  }
  img{
    width: 100%;
    height: 100%;
  }
 
}

/* Large devices (laptops/desktops, 1025px and up) */
@media only screen and (min-width: 1025px) {

  img{
    display: inline-block;
    width: 100%;
    height: 80%;
  }

}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {

 
 
}




